<table style="border: none;">
    <tr>
        <td>{{localize "fate-hybrid-skills.applications.quickAddApproach.name"}}</td>
        <td><input style="background-color: white;" type="text" id="fhs-qa-approach-name" /></td>
    </tr>
    <tr>
        <td>{{localize "fate-hybrid-skills.applications.quickAddApproach.rank"}}</td>
        <td><input style="background-color: white;" type="number" value="0" min="0" id="fhs-qa-approach-rank" /></td>
    </tr>
</table>
